# ignore all logs
*.log

# ignore the random file
jarandom.txt

# ignore the specific profile data
profile.json
# ignore the Personal Resume files
latex/resume/
latex/cv/
latex/coverLetter/

# ignore the Personal e-mail files
profile/*.txt
latex/coverLetter/